In [50]:
using CSV
using DataFrames
using MySQL
using DBInterface
using Printf

# Widen screen for better viewing
display("text/html", "<style>.container { width:100% !important; }</style>")

host = "10.13.34.19"
urN = "dbuser"
Pwd = "Password(2021)"
database="Mareas"

conn = DBInterface.connect(MySQL.Connection, host, urN, Pwd, db = database)

In [68]:
MSL_values = DataFrame([column_name => [] for column_name in siteNumber])

LoadError: syntax: missing separator in array expression

In [79]:
site_numbers = ["040987a","046046a","011008a","058009b","101711","051011a","052026a",
    "052027a","050008a","054004a","030003a","061007a","055003a","062006a","033007a",
    "035012a","035002a","063012a","056012a","041015a","066003a","070021a","071004b"
];

# get a list of years for averaging
years = string.(collect(1986:2022))

print("      ")
[@printf("%10s",x) for x in site_numbers]
for j in years
    @printf("\n%6s",j)

    for i in site_numbers
        site_number = i

        query = "SELECT AVG(waterlevel) from Mareas.DefaultTideData where siteNumber = '" * 
            site_number *
            "' and YEAR(recordDate) = '" * j *"'"


    ##    println(i,' ',first(first(DBInterface.execute(conn, query))))
        try
            @printf("%10.3f", first(first(DBInterface.execute(conn, query))))
        catch
            @printf("%10s", "--------")
        end

    end
end

         040987a   046046a   011008a   058009b    101711   051011a   052026a   052027a   050008a   054004a   030003a   061007a   055003a   062006a   033007a   035012a   035002a   063012a   056012a   041015a   066003a   070021a   071004b
  1986  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------
  1987  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------
  1988  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------
  1989  --------  --------  --------  --------  --------     1.931  --------  --------  --------  --------  --------     3.728  --------  --------     3.141  --------  --------  --------  --------  --------  --------  --------     2.113
  1990  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------
  1991  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------
  1992  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------
  1993  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------
  1994  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------
  1995  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------  --------
  1996  --------  --------     0.940     2.071  --------  --------     5.461  --------     2.895     2.983     1.906     1.716     1.915     1.872     1.770     1.893     1.758     1.745     2.349  --------     1.631  --------     2.109
  1997  --------  --------     0.882     2.044  --------  --------     2.202  --------     2.858     2.993     1.904     1.704     1.903     1.866     1.759     3.576     1.721     1.728     1.637  --------     1.478  --------     1.947
  1998  --------  --------     0.954     2.094  --------  --------     2.246  --------     2.913     3.010     4.253     1.762     1.979     1.950     1.840     1.987     1.775     1.796     1.728  --------     1.589  --------     2.107
  1999  --------  --------     0.986     2.098  --------  --------     2.275  --------     2.904     3.056     1.956     1.757     3.773     1.916     1.911     1.984     1.783     1.770     1.722  --------     1.570  --------     2.177
  2000  --------  --------     0.966     2.561  --------  --------     2.231  --------     2.891     3.033     1.944     1.790     1.967     1.917     1.812     1.984     1.772     3.265     1.740  --------     1.565  --------     2.201
  2001  --------  --------     0.972     2.113  --------  --------     2.214  --------     2.896     3.025     1.927     1.728     1.934     1.925     1.795     1.967     1.750     1.736     1.706  --------     1.547  --------     2.169
  2002  --------  --------     0.931     2.038  --------  --------     2.200  --------     2.886     3.018     1.907     1.742     1.915     1.865     1.767     1.930     1.717     1.706     1.669  --------     1.502  --------     2.071
  2003  --------  --------     0.949     2.214  --------  --------     2.223  --------     2.921     3.093     2.003     1.745     1.930     1.877     3.106     1.955     1.751     1.726     1.687  --------     3.335  --------     4.204
  2004  --------  --------     0.934     2.307  --------  --------     2.192  --------     2.874     2.998     1.885     1.724     1.904     1.867     1.787     2.004     1.806     1.714     1.667  --------     1.545  --------     2.106
  2005  --------  --------     0.953     2.240  --------  --------     2.214  --------     2.897     3.002     1.916     1.757     1.917     1.884     1.800     1.968     2.361     1.725     1.662  --------     1.575  --------     2.087
  2006  --------  --------     0.913     2.594  --------     1.689     2.377  --------     2.877     3.003     1.956     1.755     2.023     1.885     1.790     1.944     2.143     1.754     1.690  --------     1.549  --------     2.363
  2007  --------  --------     0.950     2.038  --------     1.703     2.219  --------     2.351     3.011     1.910     1.793     2.026     1.907     1.811     2.002     1.762     1.622     1.714  --------     1.538  --------     2.112
  2008  --------  --------     0.978     2.084  --------     1.725     2.226  --------     2.900     3.024     1.815     1.783     1.942     1.922     1.798     2.079     1.773     1.711     1.685  --------     1.507  --------     2.218
  2009  --------     1.205     0.987     2.090  --------     1.717     2.296  --------     2.903     3.019     2.012     1.825     1.995     1.937     1.839     2.520     1.785     1.769     1.814  --------     1.752  --------     2.428
  2010  --------     1.268     0.991     2.205  --------  --------     2.335  --------     2.993     3.130     2.011     1.841     2.074     1.998     1.999     2.121     2.052     1.890  --------  --------     1.642  --------    20.683
  2011  --------     1.335     0.998     2.128  --------     1.702     2.478  --------     2.970     3.158     1.950     1.904     2.053     2.602     1.909     2.227     2.262     2.056  --------  --------     1.546  --------     2.328
  2012  --------     1.366     0.963     2.139  --------     1.744     2.265  --------     2.891     3.095     2.065     2.409     2.039     1.915     1.838     2.044     2.055     1.771  --------  --------     1.578  --------     2.323
  2013  --------     1.361     1.015     2.159  --------     1.797     2.365  --------     2.979     3.096     1.975     2.681     2.055     1.957     1.844     2.012     1.789     1.821  --------  --------     1.590  --------     2.382
  2014  --------     1.309  -216.026     2.146  --------     1.830     2.203  --------  -501.311     3.068  -255.048     1.743     2.031     1.952     1.835     1.966-11064.155     1.810     1.648  --------     1.590  --------     2.029
  2015     0.766     1.327  -590.729     2.128  --------     1.816     2.235  --------  -600.180     3.045 -1775.540     1.777     1.909     1.938     1.812  -570.939-132914.709     1.785     1.661  --------     1.592  --------     2.048
  2016     0.796     1.346  -103.366     2.150  --------     1.834     2.241     2.021  -126.162     3.072  -677.410     1.796     1.904     1.947    -5.764  -898.653     1.795     1.809     1.684  --------     1.615  --------   -24.458
  2017     0.809     1.385     1.013     2.162  --------     1.853     2.271     2.044   -36.966 -2539.974  -698.207     1.822     2.060     1.947     1.831-17429.460   -91.749     1.823     1.709  --------     1.616  --------  -277.234
  2018     0.793     1.158     1.001     2.146  --------     1.837     2.264  --------   -55.785  -123.060   -94.142     1.803     2.027     1.944     1.841   -53.224 -1973.596     1.821     1.696  --------     1.533  --------   -98.710

  2019     0.828     1.305     0.982     2.144  --------     1.828     2.253  --------  -109.704  --------  --------     1.827     1.995     1.960     1.865   -15.150   -72.415     1.816     1.725  --------     1.617  --------     0.192
  2020    -1.091     1.332     1.009     2.146  --------     1.832     2.255  --------     1.058  --------  --------     1.843     2.004     1.970     1.864   -81.515 -4645.228     1.823     1.738  --------     1.625  -------- -2798.651
  2021   -66.425     1.334     1.023     2.156  --------     1.805     2.257  --------     1.035  --------  --------     1.855     2.015     2.000     1.861     1.985  -758.753     1.848     1.755  --------     1.640  --------  -191.801
  2022     0.859     1.354     1.048     2.153  --------     1.806     2.261  --------   -21.756  --------  --------     1.850     2.012     2.000     1.873   -19.279     1.821     1.837     1.756  --------     1.648  --------   -85.240

In [ ]:
DBInterface.close!(conn::MySQL.Connection)